
/*
Created by: Andrew Smith
Release: 2.0
Date: 2014-11-23
*/

.timedisplay{
  color:grey;
  text-align: right;
}

.title-logo{
  text-align:center;
}

.title-logo h1{
  font-size:55px;
  color:#55ACEE;
}

.title-logo img{
  max-width:70px;
}

.title-logo h2{
  color:#66757f;
}

#twittle-stream-home-btn {
  display:none;
}